html, body {
  height: 100%;
}

header {
  background-color: red;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

#nav {
  background-color: #28a5f5;
  color: rgb(49, 151, 116);
}

#nav .uk-logo {
  color: #fff;
}

#nav a {
  color: #fff;
}

#l-content{
  margin-top:50px;
}

#root {
  position: relative;
  min-height: 100%;
}